<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicStreaming</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MusicStreaming</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">User Collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Artists">Artists</a>
                        </li>
                        <li class="nav-item logged-in">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Balance">My Funds</a>
                        </li>
                        <li class="nav-item logged-in">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Index">Store</a>
                        </li>
                    </ul>
                    
                </div>
                <button id="authBtn" class="btn btn-light" onclick="javascript: authBtnClick();">Log In</button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MusicStreaming - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        const loggedIn = () => { 
            document.getElementById('authBtn').innerHTML = 'Log Out';
            $('.nav-item.logged-in').removeClass('d-none');
        }
        const loggedOut = () => {
            document.getElementById('authBtn').innerHTML = 'Log In';
            $('.nav-item.logged-in').addClass('d-none');
            
        }
        const authBtnClick = () => { 
            if (sessionStorage.getItem('currentUser')) {
                sessionStorage.removeItem('currentUser');
                loggedOut();
                window.location.reload();
            }
            else {
                const email = prompt('Email: ');
                const password = prompt('Password: ');
                if (!email || !password)
                    return;
                fetch('/User/Login', {
                    method: 'POST',
                    body: JSON.stringify({
                        Email: email,
                        Password: password
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                .then((response) => response.json())
                .then((user) => { 
                    sessionStorage.setItem('currentUser', JSON.stringify(user));
                    loggedIn();
                }).catch(() => {
                    alert('Login failed')
                    loggedOut();
                })
            }
        }
        window.onload = () => { 
            if (sessionStorage.getItem('currentUser')) {
                loggedIn();
            }
            else {
                loggedOut();
            }
        }
    </script>
</body>
</html>
